@model List<EmployeeTask>
@{
    ViewData["Title"] = "EmployeeTaskListByProfile";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    int count = 0;
}


<h3>Görevleriniz</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Durum</th>
        <th>Tarih</th>
        <th>Detaylar</th>
        <th>Yeni İşlem</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Title</td>
            <td>@item.Status</td>
            <td>@item.Date.ToString("dd.MM.yyyy")</td>
            <td><a href="/Employee/EmployeeTaskDetail/Index/@item.EmployeeTaskID" class="btn btn-outline-danger">Detaylar</a></td>
            <td><a href="#" class="btn btn-outline-success">Yeni İşlem</a></td>
        </tr>
    }
</table>

