@model AppRole
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_CrmLayout.cshtml";
}

<h1>Role Güncelleme Sayfası</h1>
<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Rol Adı</label>
    <input type=text asp-for="Name" class="form-control" />
    <button class="btn btn-success">Rolü Güncelle</button>
</form>
