
@{
    ViewData["Title"] = "ReportList";
    Layout = "~/Views/Shared/_CrmLayout.cshtml";
}

<h1>Rapor Listesi</h1>

<a href="/Report/ExcelStatic/" class="btn btn-outline-warning">Excel Starik Liste</a>
