@model MailRequest
@{
    ViewData["Title"] = "SendEmail";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h1>SendEmail</h1>

<form class="form-group" meethod="post">
    <label>Alıcı Maili</label>
    <input type="text" asp-for="ReceiverEmail" class="form-control" />
    <br />
    <label>Konu</label>
    <input type="text" asp-for="EmailSubject" class="form-control" />
    <br />
    <label>Mesaj</label>
    <textarea cols="2" rows="5" asp-for="EmailContent" class="form-control"></textarea>
    <br />
    <button class="btn btn-warning">Gönder</button>
</form>