@model List<Announcement>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CrmLayout.cshtml";
}

<h1>Duyuru Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Duyuru Aç</th>
    </tr>
   @foreach(var item in Model)
   {
       <tr>
           <td>@item.AnnouncementID</td>
           <td>@item.Title</td>
           <td>@item.Date</td>
           <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
           <td><a href="#" class="btn btn-outline-success">Güncelle</a></td>
           <td><a href="#" class="btn btn-outline-dark">Duyuruyu Aç</a></td>
       </tr>
   }

</table>

<a href="#" class="btn btn-outline-primary">Yeni Duyuru Ekle</a>

